<<<<<<< HEAD
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border: 2px solid #888;
    width: 35%;
  }

  .modal-content h2{
    font-family: Tahoma;
    font-weight: 800;
    text-align: center;
    color: #33ccff;
    letter-spacing: 0.2em;
  }
  
  /* The Close Button */
  .poof {
    color: #aaaaaa;
    float: right;
    clear: left;
    font-size: 22px;
    font-weight: bold;
  }
  
  .poof:hover,
  .pof:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
=======
body{
    background-color: #f4f4f4;
    color: #555555;;

    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin:0;
}

a{
    text-decoration: none;
}

.container{
    width:640px;
    margin:auto;
}

.box-1{
    background-color: #ffffff;
    columns: #333333;;
    border: 5px lightblue solid;
    padding:40px;
    margin-top:50px;
    border-radius: 15px;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.box-1 a{
    text-decoration: none;
    color: red;
}
>>>>>>> c2695829c93f97271b41305c0fd3e6b4cbd9e8e8
